<div id="home">
	<div class="container">
		<div class="row">
			<div id="story_list_top">
				<div class="col-md-8">
					<p class="lead">
						Each year, millions of women have abortions, yet many feel secretive and alone in their decision. By bringing together personal stories, <strong>Project Voice</strong> hopes to establish a resource of sharing and support.  Women of all ages, races, religions, backgrounds, and circumstances have had abortions. The more women who share their stories here, the more accurately Project Voice can represent the multiplicities of abortion experiences.


						<!--

						Each year, millions of women have abortions, yet many feel secretive and alone in their decision. By bringing together personal stories, <strong>Project Voice</strong> hopes to establish a resource of sharing and support, and convey that abortion is a choice many women have made, and continue to make, for a variety of reasons. Women of all ages, races, religions, backgrounds, and circumstances have had abortions. The more women who share their stories here, the more accurately Project Voice can represent the multiplicities of abortion experiences.

					-->



					</p>
				</div>
				<div class="col-md-4">
					<p><%= @stories_count %> stories</p>
					<p><%= @countries_count %> countries</p>
				</div>

			</div>
		</div>
		<div class="row">
			<div id="story_list">
				<% @stories.each do |story| %>
					<div class="col-md-3">
						<div class="story">
							<%= circle_hands_thumb_link(story) %>
							<%= link_to(story.excerpt, story) %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div id="story_list_bottom">
				<%= link_to 'Read more stories', stories_path %>
			</div>
		</div>
	</div>
</div>
