
<div class="story">
	<div class="row">
		<div class="col-md-2">
			<%= story_location story %> 
		</div>
		<div class="col-md-2">
			<span class="nowrap"><%= format_date story.created_at %></span>
		</div>
		<div class="col-md-6">
			<%= link_to(story.excerpt, story) %>
		</div>
		<div class="col-md-2"><%= circle_hands_thumb_link(story) %></div>
	</div>



</div>



<!-- 	<td><%= story.country %></td>
	<td><%= story.state %></td>
	<td><span class="nowrap"><%= format_date story.created_at %></span></td>
	<td><%= link_to(story.excerpt, story) %></td>
	<td class="stories-index-thumb"><%= circle_hands_thumb_link(story) %></td>
 -->