<div id="stories_index">


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Country</th>
				<th>State</th>
				<th>Published</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>


			<% @stories.each do |story| %>
				<tr created-at="<%= story.created_at %>">
					<td><%= story.country %></td>
					<td><%= story.state %></td>
					<td><span class="nowrap"><%= format_date story.created_at %></span></td>
					<td><%= link_to(story.excerpt, story) %></td>
					<td class="stories-index-thumb"><%= circle_hands_thumb_link(story) %></td>
				</tr>

					

			<% end %>
		</tbody>

	</table>



</div>
