<div id="stories_index">


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Country</th>
				<th>State/Province</th>
				<th></th>
			</tr>
		</thead>
		<tbody>


			<% @stories.each do |story| %>
				<tr created-at="<%= story.created_at %>">
					<td><%= story.country %></td>
					<td><%= story.state %></td>
					<td><%= link_to(story.excerpt, story) %></td>
					<!-- <td><%= circle_hands_thumb(story) %></td> -->
				</tr>

					

			<% end %>
		</tbody>

	</table>



</div>
