
<div id="stories_new">
	<div class="row">
		<div class="col-md-6">
			<h2>Share your story</h2>
			<p class="lead">If you've had an abortion, we encourage you to share your story. There is no "right" story for Project Voice.</p>
			<p class="lead">Before you submit, please read the following:</p>
		
		<ul class="list">
			<li>We welcome firsthand accounts. If you know someone who has had an abortion, please encourage them to submit their own story.</li>
			<li>Focus on your own experiences; refrain from generalizing, assuming, or speaking for others.</li>
			<li>Avoid using names or identifying characteristics of anyone involved in your story.</li>
			<li>Project Voice is not a space for political messages. It is a space for personal stories only.</li>
			<li>And please upload a photo of your hands! We feel that the photos add a sense of personality and diversity to the stories, while maintaining anonymity. The many different hands and creative ways of photographing them add a visual presence to Project Voice.</li>

		</ul>
		<p class="hands">
			<% @examples.each do |example| %>
				<%= circle_hands_thumb(example) %>
			<% end %>
		</p>

		</div>
		<div class="col-md-6">
			<%= form_for(@story) do |f| %>
			    <div class="row">
			    	<div class="col-md-6">
			    		<div class="field">
				    		<%= f.label :country %>
							<%= f.country_select(:country, {priority: %w(US CA), prompt: 'Please select a country'}, {class: 'form-control'}) %>
			    		</div>
					</div>
					<div class="col-md-6">
						<div class="field">
							<%= f.label :state %>
							<%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
						</div>
			    	</div>
			    </div>
			    <div class="row">
					<div class="col-md-6">
						<div class="field">
				    		<%= f.label :age %>
				    		<%= f.text_field :age, class: 'form-control' %>
						</div>
			    	</div>
			    	<div class="col-md-6">
			    		<div class="field">
						    <span class="btn btn-default btn-file">
						    	<%= f.file_field :photo %>Photo
							</span> 
			    		</div>
					</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-6">
			    		<div class="field">
				    		<%= f.label :email %>
				    		<%= f.text_field :email, class: 'form-control' %>
			    		</div>
			    	</div>
			    	<div class="col-md-6">
			    		<div class="field">
				    		<%= label :email_confirmation, 'Confirm email' %>
				    		<%= f.text_field(:email_confirmation, {class: 'form-control'})%>
			    		</div>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-12">
			    		<div class="field">
				    		<%= label :orginal, 'Your story' %>
	   					    <%= f.text_area :original, class: 'form-control' %>
			    		</div>
			    	</div>
			    </div>


			    <% if @story.errors.any? %>
    <div id="" class="alert alert-danger">
      <p><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</p>
      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  				<div class="row">
  					<div class="col-md-4"><%= f.submit 'Submit your story', class: "btn btn-default" %></div>
  					<div class="col-md-8">
  						<p><small>By clicking "Submit your story," I affirm that I agree to the <a id="terms_toggle" href="#">Project Voice Terms of Agreement</a>.</small></p>
  					</div>
  				</div>
			     
			    

		


		<div class="panel-group" id="accordion">
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<p class="panel-title">
				        <a rel="termsToggle" data-toggle="collapse" data-parent="#accordion" href="#terms">
						  Project Voice Terms of Agreemant
				        </a>
				    </p>
			    </div>
			    <div id="terms" class="panel-collapse collapse">
			    	<div class="panel-body">
			    		<small>
			    		<p>I grant the producer(s) of Project Voice the right, license and privilege, in perpetuity, to utilize my abortion story in connection with the development, writing, performance, advertising, or distribution of Project Voice in any and all media.</p>
			<p>I hereby release and discharge the producer(s) of Project Voice, its employees, agents, licensees, successors and assigns from any and all claims, demands or causes of action that it may have or may hereafter have for libel, defamation, invasion of privacy or right of publicity, infringement of copyright or trademark, or violation of any other right arising out of or relating to any utilization of the rights granted under this agreement.</p>
			<p>I agree that the producer(s) of Project Voice shall have the right to vary, change, alter, modify, add to and/or delete from this material, and to use a portion or portions of this material in conjunction with any other literary, dramatic or other material of any kind, unless the material is expressly presented as unchanged from the original.</p>
			<p>All rights, licenses and privileges herein granted to the producer(s) of Project Voice are irrevocable and not subject to rescission, restraint or injunction under any circumstances.  Nothing herein shall be construed to obligate the producer(s) of Project Voice to produce, distribute or utilize any of the rights granted herein.</p>
			<p>Please check the box to acknowledge that you have accepted the terms of the above, and grant us permission to receive and use your anonymous story.  Thank you.</p>
				</small>
				        

      </div>
    </div>
  </div>
  
</div>

			    <hr>
			    <p>Questions?  Contact us: <a href="mailto:info@projectvoice.org">info@projectvoice.org</a></p>
			<% end %>

		</div>

	</div>

</div>
