<div id="stories_show">
	<div class="row">
		<div class="col-md-12">
			<header id="story_header">
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<aside id="sidebar_1">
				<%= circle_hands_thumb(@story) %>
				<%= simple_format @story.excerpt, class: 'excerpt lead' %>
				<%= simple_format story_location(@story) %>
				<%= simple_format(format_date @story.created_at) %>
			</aside>
			<hr class="visible-sm visible-xs" />

		</div>
		<div class="col-md-6">
			<article><%= simple_format @story.edit %></article>
		</div>
		<div class="col-md-3">
			<nav class="prev_next">

				<hr class="visible-sm visible-xs" />
				<% if @story.next %>
					<p><span class="small">Next story:</span><br/><%= link_next_with_excerpt(@story) %></p>
				<% end %>

				<% if @story.next && @story.prev %>
					<hr />
				<% end %>

				<% if @story.prev %>
					<p><span class="small">Previous story:</span><br/><%= link_prev_with_excerpt(@story) %></p>
				<% end %>


			</nav>
		</div>

	</div>

</div>