
<div id="posts_index">
	<div class="row">

		<div class="col-md-3">
			<aside id="sidebar_1">
			</aside>
		</div>


		<div class="col-md-6">
			<% @posts.each do |post| %>
				<div class="post">
					<p class=""><small><%= post.created_at.strftime("%b %d, %Y") %></small></p>
					<h3><%= link_to post.title, post %></h3>
					<% unless post.photo.blank? %>
						<div class="photo_container">
							<a href="<%= post_path(post) %>">
							<%= image_tag post.photo.url(:medium), class: 'post-photo' %>
							</a>
							<p class="help-block"><%= post.photo_caption %></p>
						</div>
					<% end %>
					<%= simple_format post.body %>
				</div>
				<hr/>
			<% end %>
		</div>

		<div class="col-md-3">
			<aside id="sidebar_1">
			</aside>
		</div>

	</div>
</div>
